@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <div class="container justify-content-center">
        <div class="row">

            <div class="mt-5 mb-3"
                 style="
          font-weight: bold;
          font-size: 25px;
          text-align: center;">
                <h2 style="font-weight: bold">
                    IMAGES
                </h2>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/29Ekim100Y%C4%B1l.jpg"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/29Ekim100Y%C4%B1l.jpg">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/AmoungUs.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/AmoungUs.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/BTTARIM.jpg"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/BTTARIM.jpg">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Ball.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Ball.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/GDD.jpg"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/GDD.jpg">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/GoT.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/GoT.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Guitar.jpg"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Guitar.jpg">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/PokemonBall.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/PokemonBall.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Portal.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Portal.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/SS1.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/SS1.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/SciFi.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/SciFi.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/%C3%87evikYaz%C4%B1l%C4%B1mGeli%C5%9Ftirme.jpg"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/%C3%87evikYaz%C4%B1l%C4%B1mGeli%C5%9Ftirme.jpg">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Shotgun.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Shotgun.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/SmashCatHighQ.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/SmashCatHighQ.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/weaponsSS.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/weaponsSS.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/StarWars(etiketsiz).png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/StarWars(etiketsiz).png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Sushi.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/Sushi.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/TheCaretaker.jpg"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/TheCaretaker.jpg">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/ZenitsuSS2.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/ZenitsuSS2.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/cafe.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/cafe.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/instaHali.jpg"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/instaHali.jpg">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/lanterncycle.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/lanterncycle.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/portreSS3.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/portreSS3.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/rockSS.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/rockSS.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt-4">
                <div class="card">
                    <img src="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/vaseCup.png"
                         class="card-img-top"
                         alt="100.Yıl 29 Ekim Cumhuriyet Bayramı" />
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://raw.githubusercontent.com/Developrimbor/WebDesignEveryThinkMVC/master/WebDesignEveryThinkMVC/Images/vaseCup.png">100.Yıl 29 Ekim Cumhuriyet Bayramı</a>
                        </h4>
                    </div>
                </div>
            </div>

        </div>        
    </div>

</main>